html {
    height: 100vh;
}

// Light and Dark Mode
.light-mode {
    background-color: $light;
    color: $dark;
}

.dark-mode {
    background-color: $dark;
    color: $light;
}

// Animation classes
.fadein-text {
    animation-name: fadein-text;
}

.duration-1s {
    animation-duration: 1s;
}

.duration-2s {
    animation-duration: 2s;
}

.duration-4s {
    animation-duration: 4s;
}

// Animations
@keyframes fadein-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}