<div class="d-flex flex-column flex-grow-1">
    <header>
        <h1>Coordinates</h1>
        <h5 class="fst-italic">The Autodrawer will use these coordinates to interact with Paint 3D UI.
            Every coordinate is based on your cursor XY coordinate within your screen space.
        </h5>
    </header>
    <div class="container mt-6">
        <div class="row">
            <div class="col col-xxl-10">
                <!-- Coordinates -->
                <div class="container">
                    <div class="row mb-1" id="toolMarker">
                        <div class="col">
                            <span class="mt-2 ml-2">Tool | Marker:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" id="teste" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="toolWatercolor">
                        <div class="col">
                            <span class="mt-2 ml-2">Tool | Watercolor:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="toolPixelPencil">
                        <div class="col">
                            <span class="mt-2 ml-2">Tool | Pixel Pencil:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="toolGraphitePencil">
                        <div class="col">
                            <span class="mt-2 ml-2">Tool | Graphite Pencil:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="toolCrayon">
                        <div class="col">
                            <span class="mt-2 ml-2">Tool | Crayon:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="boxBrushSize">
                        <div class="col">
                            <span class="mt-2 ml-2">Values | Brush Size:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="boxBrushOpacity">
                        <div class="col">
                            <span class="mt-2 ml-2">Values | Brush Opacity:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="boxZoom">
                        <div class="col">
                            <span class="mt-2 ml-2">Values | Zoom:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="buttonSelectedColorPreview">
                        <div class="col">
                            <span class="mt-2 ml-2">Button | Selected Color Preview:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="selectColorRed">
                        <div class="col">
                            <span class="mt-2 ml-2">Color Selector | Red:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="selectColorGreen">
                        <div class="col">
                            <span class="mt-2 ml-2">Color Selector | Green:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="selectColorBlue">
                        <div class="col">
                            <span class="mt-2 ml-2">Color Selector | Blue:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="selectColorOkButton">
                        <div class="col">
                            <span class="mt-2 ml-2">Color Selector | Ok Button:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="canvasTopLeftCorner">
                        <div class="col">
                            <span class="mt-2 ml-2">Canvas | Top Left Corner:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="canvasBottomRightCorner">
                        <div class="col">
                            <span class="mt-2 ml-2">Canvas | Bottom Right Corner:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                    <div class="row mb-1" id="contextRedefineCanvas">
                        <div class="col">
                            <span class="mt-2 ml-2">Context Menu | Redefine Canvas:</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="Relative x"
                                    aria-label="X">
                                <input type="text" class="form-control mx-2 border-025rem" placeholder="Relative y"
                                    aria-label="Y">
                            </div>
                        </div>
                        <div class="col col-sm-1">
                            <span svg-working></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="btn btn-info mr-2 mb-4"">Load default values</button>
                </div>
            </div>
            <aside class="col col-sm-2">
                <!-- Cursor current position -->
                <h3>Current cursor position</h3>
                <p>x: <span id="xCursorPos"></span></p>
                <p>y: <span id="yCursorPos"></span></p>
            </aside>
        </div>
    </div>
</div>