<div class="d-flex flex-column flex-grow-1">
    <header>
        <h1>Coordinates</h1>
        <h5 class="fst-italic">The Autodrawer will use these coordinates to interact with Paint 3D UI.
            Every coordinate is based on your cursor XY position within your screen space.
        </h5>
    </header>
    <div class="container mt-6">
        <div class="row">
            <section class="col"> <!-- Coordinates -->
                <div class="input-group">
                    <span class="mt-2 ml-2">bla bla bla:</span>
                    <input type="text" class="form-control mx-2 border-025rem" placeholder="x" aria-label="X">
                    <input type="text" class="form-control mx-2 border-025rem" placeholder="y" aria-label="Y">
                    <span svg-working>svg goes here</span>
                </div>
            </section>
            <aside class="col"> <!-- Cursor current position -->

            </aside>
        </div>
    </div>
</div>