<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autodrawer</title>
    <link rel="stylesheet" href="./assets/css/app.min.css">
    <script src="./assets/js/app.min.js" defer></script>

</head>

<!-- rPage represents the page to be accessed through Ajax -->
<body>
    <nav>
        <a rPage="#./pages/welcome.html">Autodrawer</a>
    </nav>
</body>
</html>