<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autodrawer</title>
    <link rel="stylesheet" href="./assets/css/app.min.css">
    <script src="./assets/js/app.min.js" defer></script>
</head>

<!-- rPage represents the page to be accessed through Ajax -->
<body class="dark-mode d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gray800">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" rPage="#./pages/welcome.html">Autodrawer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#" rPage="#./pages/coordinates.html">Coordinates</a></li>
                            <li><a class="dropdown-item" href="#" rPage="#./pages/values.html">Values</a></li>
                            <li><a class="dropdown-item" href="#" rPage="#./pages/image.html">Image</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" rPage="#./pages/help.html">Help</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-lg-0">
                    <button class="btn btn-warning py-2" rPage="#./pages/draw.html" onclick="window.location.hash = this.getAttribute('rPage')">Draw!</button>
                </ul>
            </div>
        </div>
    </nav>

    <main class="d-flex"></main>
</body>

</html>